<!DOCTYPE html>
<html lang="zh-TW" class="dark">

<head>
  <meta charset="UTF-8">
  <title>
    <%= config.title %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="<%= config.root %>favicon.ico">
  <link rel="bookmark" href="<%= config.root %>favicon.ico">

  <link href="<%= config.root %>css/style.css" rel="stylesheet">
  <!-- Vue CDN -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
  <script src="https://unpkg.com/vue-router@4/dist/vue-router.global.prod.js"></script>
  <!-- mini search CDN -->
 <script src="https://cdn.jsdelivr.net/npm/minisearch@6.0.0/dist/umd/index.min.js"></script>

</head>

<body class="bg-gray-100 text-gray-800 px-4 sm:px-8 md:px-16 lg:px-24 xl:px-32">
  <div id="app"></div>
  <script type="module" src="<%= config.root %>js/app.js"></script>
</body>

</html>
